<div style="text-align:right;">
	<span style="border-bottom:1px dotted #cacaca;">
		By <%= response.user.username %> at <%= response.created_at.strftime("%d-%m-%Y %I:%M %p") %>
	</span>
</div>
<br/>
<div class="response">
	<% response.data.each_pair do |question_id, answer| %>
		<p>
			<b><%= Question.find(question_id).title %></b> <br/>
			<%= answer %>
		</p>
	<% end %>
</div>